@{
    ViewData["ToDo App"] = "ToDo App for Increased Productivity";
}
<h2>@ViewData["ToDo App"]</h2>
<h3>@ViewData["Be productive today!"]</h3>

<p>"I can do all things through Christ which strengtheneth me. Phillippians 4:13"</p>
<br />
<br />
<p>This is a collaborative effort of software developers Jennifer Dutton and Sandy Jones.</p>
<p>If you would like to do the same project, go here for guidance:</p>
<p>c-sharpcorner.com/article/how-to-write-simple-todo-crud-asp-net-mvc-application2/></p>
<br />
<br />
<br />
<p>If you list it, you can achieve it. You know that old adage, "If you fail to plan, you plan to fail."</p>
