@{
    ViewData["ToDo App"] = "Contact";
}
<h2>@ViewData["ToDo App"]</h2>
<h3>@ViewData["Be productive today!"]</h3>

<address>
    Sandy can be reached at sandynashv@gmail.com<br />
    Jennifer can be reached at jduttondesign@gmail.com<br />
    
</address>


